@import "../../variables";

.navigation{
  position: fixed;
  top:0;
  width:100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  z-index: 1000;
  &__logo{
    display: flex;
    align-items: center;
  }
  &__list{
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__item{
    position: relative;
    text-decoration: none;
    font-size:1rem;
    color: $main-gray;
    padding: 0 24px;
    font-weight: 300;
    opacity: 0.9;
    &--login{
      color:$main-blue;
    }
  }
  &__item:after {
    bottom: -5px;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: $main-gold;
    transition: width .3s ease 0s,left .3s ease 0s;
    width: 0;
  }

  &__item:hover:before, &__item:hover:after{
    width: 100%;
    left: 0;
  }
}

.shadow{
  box-shadow: 0 2px 4px 0 rgba(151, 145, 151, 0.1);
}