@import "../../variables";

.numbersSection {
  height: 35vh;
  width: 100vw;
  background: linear-gradient(90deg,$main-gold, #f7f93c 50%,$main-gold);
  background-size: cover;
  &__numbers {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
.box{
  position: relative;
  text-align: right;
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
  &__subtitle {
    font-weight: 600;
  }
  &__icon {
    font-size: 80px;
    font-weight: 300;
    opacity: 0.4;
    position: absolute;
    top:0;
    left:0;
  }
}


.numbersSection::before{
  content: '';
  position: relative;
  top:9vh;
  border-bottom: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #fff;
  clear: both;
}