@import "../variables";

body{
  font-family: "Roboto", sans-serif;
}

.white-space{
  margin-top:100px;
}

.container{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

h1{
  font-size: 30px;
  line-height: 32px;
  color:$main-text;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin: 20px 0;
  color: $second-text;
}

p {
  font-size:16px;
  color:$main-text;
}

.button{
  padding: 10px 15px;
  font-size:16px;
  background: none;
  border-radius: 2px;
  &:hover{
    cursor: pointer;
  }
  &--big{
    padding:20px 30px;
    font-weight: 600;
    max-width: 350px;
  }

  &--primary{
    background-color: $main-blue;
    border: 2px solid $main-blue;
    color: #fff;
    &:hover{
      background-color: $second-blue;
      transition: 0.5s;
    }
  }
}

.section {
  padding: 50px 0;
  position: relative;
  &--numbersSection {
    background: linear-gradient(to bottom right, $main-gold 0%, $main-gold 50%, $second-gold 50%, $second-gold 100%);
    background-size: cover;
  }
  &--technologies {

  }
  &--register {
    height: 40vh;
    overflow: hidden;
  }
  &__boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    padding-top:50px;
  }
  &__description {
    text-align: center;
  }
  &__title {
    font-size:30px;
    &--opacity {
      opacity: .7;
    }
    &--blue {
      color: $main-blue;
    }
  }
  &__text{
    font-size:20px;
    padding: 10px 100px;
    text-align: justify;
  }
}

.box{
  position: relative;
  width: 100%;
  padding-top: 20px;
  &--4 {
    flex:0 0 25%;
  }
  &--2 {
    flex:0 0 50%;
  }
  &--fill {
    background-color:#fff;
    height: 100%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__icon {
    font-size: 100px;
    opacity: .2;
    position: absolute;
    top:-40px;
    color: $main-gray;
  }
  &__subtitle {
    padding:5px 0;
    font-size: 24px;
  }
}

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  &--flex{
    display: flex;
  }
  &--center{
    justify-content: center;
  }
  &--svg {
    position: absolute;
    top: -75px;
  }
  &__background {
    position: absolute;
    top:60%;
    left:40%;
    transform: scale(3) rotate(12deg);
    opacity: .2;
    z-index: -1;
  }
}

.img {
  &--circle {
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 990px){
  .wrapper {
    max-width:720px;
  }
  .box {
    &--4{
      flex: 0 0 50%;
    }
  }
  .box:nth-child(3), .box:nth-child(4){
    padding-top:70px;
  }
}

@media screen and (max-width: 750px){
  .wrapper {
    max-width:600px;
  }
}

@media screen and (max-width: 650px){
  .box {
    &--2, &--4 {
      flex: 0 0 100%;
    }
  }
  .wrapper {
    max-width:350px;
  }
  .box:nth-child(2), .box:nth-child(3), .box:nth-child(4){
    padding-top:70px;
  }
}
