$main-gray:#979197;
$second-gray:#c5c5c5;
$third-gray:#9d9d9d;
$fourth-gray: #f1f1f1;
$main-gold: #fecf33;
$second-gold: #fdbd39;
$main-blue:#419bf9;
$second-blue: #295999;
$main-text:#666;
$second-text:#999;