@import "../../variables";

.navigation{
  position: fixed;
  top:0;
  width:100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
  &__logo{
    display: flex;
    align-items: center;
  }
  &__list{
    height: 100%;
    display: flex;
    align-items: center;
    &--mobile {
      display: flex;
      flex-direction: column;
    }
  }
  &__item{
    position: relative;
    text-decoration: none;
    font-size:1rem;
    color: $main-gray;
    padding: 0 24px;
    font-weight: 300;
    opacity: 0.9;
    &--login{
      color:$main-blue;
    }
    &--mobile {
      font-size:20px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin:2px 0;
      background-color: $fourth-gray;
    }
    &--active {
      color: $main-gold;
    }
  }

  &__item:after {
    bottom: -5px;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: $main-gold;
    transition: width .3s ease 0s,left .3s ease 0s;
    width: 0;
  }

  &__item:hover:before, &__item:hover:after{
    width: 100%;
    left: 0;
  }

  &__hamburger {
    display: none;
    height: 14px;
    width: 18px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
  }

  &__bar {
    height: 2px;
    width: 18px;
    display: block;
    position: absolute;
    background-color: $main-gold;
    &:nth-child(1){
      top: 0;
      transition: transform 0.20s ease-out 0.05s, background-color 0.05s ease 0.20s, top 0.15s ease 0.25s;
    }
    &:nth-child(2){
      top: 6px;
      transition: ease 0.15s 0.15s;
    }
    &:nth-child(3){
      top: 12px;
      transition: top 0.15s ease 0.25s, transform 0.15s ease-out 0.05s;
    }
    &--transform{
      background-color: $second-gold;
      &:nth-child(1){
        top: 6px;
        transform: rotate(45deg);
        transition: top 0.15s ease 0.05s, background-color 0.05s ease 0.2s, transform 0.20s ease-out 0.20s;
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        top: 6px;
        transform: rotate(-45deg);
        transition: top 0.15s ease 0.05s, transform 0.20s ease-out 0.20s;
      }
    }
  }
  &__mobile{
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width:100vw;
    background-color: #fff;
    padding-top:150px;
    z-index: 999;
    transform: translate3d(0,100%,0);
    transition: transform 400ms ease-in-out, height 100ms ease-in-out;
    &--transform {
      transform: translate3d(0, 0, 0);
    }
  }
}

.shadow{
  box-shadow: 0 2px 4px 0 rgba(151, 145, 151, 0.1);
}

@media screen and (max-width: 400px){
  .navigation{
    &__list{
      display: none;
    }
    &__hamburger {
      display: block;
    }
    &__item:after {
      bottom:-2px;
    }
    &__mobile {
      display: block;
    }
  }
}