@import "../../variables";

body {
  background-color: $fourth-gray;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__box {
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    padding: 40px 20px;
    min-width: 50vw;
  }
}

.text {
  &--main {
    color: $main-text;
  }
  &--second {
    color: $second-text;
    font-size: 14px;
  }
  &--danger {
    font-size: 13px;
    color: $danger;
  }
  &--success {
    font-size: 13px;
    color: greenyellow;
  }
}

.button {
  color: $main-text;
  padding: 10px 20px;
  margin: 10px 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  &--link {
    background: none;
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    background-color: $main-gold;
    transition: 0.5s;
  }
  &--big {
    padding: 15px 25px;
    font-size:15px;
  }
  &--danger {
    background-color: $danger;
    color: white;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,$main-gold,$second-gold 50%,$main-gold);
  height: 100vh;
  &__application {
    position: relative;
    padding: 25px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    max-width: 95vw;
    max-height: 95vh;
  }
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.col {
  display: flex;
  &__half {
    flex: 0 1 50%;
  }
  &__align {
    &--center {
      align-items: center;
    }
  }
  &__justify {
    &--right {
      justify-content: flex-end;
    }
  }
  &__direction {
    &--col {
      flex-direction: column;
    }
  }
}

.info-text {
  font-size: 13px;
  color: $second-text;
  padding: 10px;
}

input[type='file']{
  display: none;
}

.error {
  &--animation {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}